* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #5d6063;
}

a:link,
a:visited {
  color: #5d6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px 100px;
  background: #ffffff;
  z-index: 20;
}
.menu {
  margin-top: 15px;
}

.menu > li {
  display: inline;
  padding: 15px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}
.logo img {
  width: 80px;
}
