$bgcolor: #ffffff;
$primary-color: #5d6063;
$second-color: #212529;
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-botton-black {
  border-bottom: 2px solid $primary-color !important;
}
.bg-color-menu {
  background-color: $second-color !important;
  height: 50px;
  a {
    color: $bgcolor !important;
  }
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $primary-color;
}
section {
  min-height: 80vh;
}
a.nav-link {
  font-size: 15px !important;
}
a:link,
a:visited {
  color: $primary-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;
  background: $bgcolor;
  z-index: 20;
}
.menu {
  margin-top: 15px;
  display: flex;
}

.menu > li {
  display: inline;
  align-items: center;
  padding: 15px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.parallax,
.parallax-2 {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  background-image: url("../img/analytics.jpg");
}
.parallax-2 {
  background-image: url("../img/businessman.jpg");
}
html {
  scroll-padding-top: 15%;
}
.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead-avatar {
    width: 15rem;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}
@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 992px) {
  .bg-color-menu {
    background-color: $bgcolor !important;

    a {
      color: $primary-color !important;
    }
  }
  .navbar > .container-fluid {
    height: 400px !important;
    background-color: #ffffff !important;
  }
}
